<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ecureuil.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Ecureuil.Properties.Settings>
            <setting name="appListView" serializeAs="String">
                <value>Detail</value>
            </setting>
            <setting name="selectSaveAs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="downloadPath" serializeAs="String">
                <value />
            </setting>
            <setting name="installedSourcesData" serializeAs="String">
                <value />
            </setting>
            <setting name="enableCache" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="textOrIconForm1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="showToolbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showSidebar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="installPath" serializeAs="String">
                <value />
            </setting>
            <setting name="installSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartMenuLink" serializeAs="String">
                <value>True</value>
            </setting>
        </Ecureuil.Properties.Settings>
    </userSettings>
</configuration>